## Import Required Libraries

In [1]:
import pandas as pd

In [2]:
Population_df=pd.read_csv('PEA11.20231021T221005.csv')

## DATA EXPLORATION

In [8]:
Population_df.shape
print("Number of Rows and Columns respectively:", Population_df.shape)

Number of Rows and Columns respectively: (11817, 6)

In [9]:
Population_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11817 entries, 0 to 11816
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   STATISTIC Label     11817 non-null  object
 1   Year                11817 non-null  int64
 2   Single Year of Age  11817 non-null  object
 3   Sex                 11817 non-null  object
 4   UNIT                11817 non-null  object
 5   VALUE               11817 non-null  int64
dtypes: int64(2), object(4)
memory usage: 554.1+ KB

In [11]:
Population_df.head(10)

,STATISTIC Label,Year,Single Year of Age,Sex,UNIT,VALUE
0,Population estimates from 1926,1926,All ages,Both sexes,Number,2971992
1,Population estimates from 1926,1926,All ages,Male,Number,1506889
2,Population estimates from 1926,1926,All ages,Female,Number,1465103
3,Population estimates from 1926,1926,Under 1 year,Both sexes,Number,55391
4,Population estimates from 1926,1926,Under 1 year,Male,Number,28084
5,Population estimates from 1926,1926,Under 1 year,Female,Number,27307
6,Population estimates from 1926,1926,1 year,Both sexes,Number,55876
7,Population estimates from 1926,1926,1 year,Male,Number,28374
8,Population estimates from 1926,1926,1 year,Female,Number,27502
9,Population estimates from 1926,1926,2 years,Both sexes,Number,58273

###### From '.head()', it is seen that only 'VALUE' and 'Year' are the only numerical columns
###### This is also corroborated when '.describe()' was used but '.describe(include=object)' had to be used to show the
###### remaining categorical columns

In [15]:
Population_df.describe()

               Year         VALUE
count  11817.000000  1.181700e+04
mean    1996.410256  5.352461e+04
std       24.463165  2.867754e+05
min     1926.000000  6.000000e+00
25%     1986.000000  1.242700e+04
50%     2004.000000  2.667500e+04
75%     2014.000000  3.557700e+04
max     2023.000000  5.281612e+06

In [18]:
Population_df.describe(include=object)

                       STATISTIC Label Single Year of Age         Sex    UNIT
count                            11817              11817       11817   11817
unique                               1                101           3       1
top     Population estimates from 1926           All ages  Both sexes  Number
freq                             11817                117        3939   11817

In [21]:
Population_df.isna().sum()

STATISTIC Label       0
Year                  0
Single Year of Age    0
Sex                   0
UNIT                  0
VALUE                 0
dtype: int64

###### No Missing data

## DATA PREPARATION

#### To make the data more streamlined and focus, the columns with only 1 unique value 'UNIT' and 'STATISTIC LABEL are dropped

In [25]:
Population_df.drop(['UNIT', 'STATISTIC Label'], axis=1,inplace=True)

KeyError: "['UNIT', 'STATISTIC Label'] not found in axis"